html,
body {
    height  : 100%;
    margin  : 0;
}

.mp-menu {
    left      : 0;
    height    : 100%;
    position  : fixed;
    top       : 0;
    transform : translate3d(-100%, 0, 0);
    width     : 300px;
    z-index   : 1;
}

.mp-level > ul {
    height: calc(100% - 4rem);
}

.mp-level-open:not(.mp-level-overlay) > ul {
    overflow-y: auto;
}

.mp-level {
    background: #336ca6;
    height    : 100%;
    left      : 0;
    position  : absolute;
    top       : 0;
    transform : translate3d(-100%, 0, 0);
    width     : 100%;
}

/* overlays for menu and for level that gets covered */
.mp-menu,
.mp-level {
    transition: transform .35s;
}

.mp-level::after,
.mp-level::before {
    content : '';
    height  : 0;
    opacity : 0;
    position: absolute;
    right   : 0;
    top     : 0;
    width   : 0;
}

.mp-level::after {
    background: rgba(0, 0, 0, .3);
    transition: opacity .3s, width .1s .3s, height .1s .3s;
    z-index: -1;
}

.mp-level.mp-level-overlay::after {
    height    : 100%;
    opacity   : 1;
    transition: opacity .3s;
    width     : 100%;
}

.mp-level.mp-level-overlay.mp-level::before {
    background: transparent;
    height    : 100%;
    opacity   : 1;
    width     : 100%;
}

/* overlap */
.mp-overlap .mp-level.mp-level-open {
    box-shadow: 1px 0 2px rgba(0, 0, 0, .2);
    transform: translate3d(-40px, 0, 0);
}

/* First level */
.mp-menu > .mp-level,
.mp-menu > .mp-level.mp-level-open,
.mp-menu.mp-overlap > .mp-level,
.mp-menu.mp-overlap > .mp-level.mp-level-open {
    box-shadow: none;
    transform: translate3d(0, 0, 0);
}

/* cover */
.mp-cover .mp-level.mp-level-open {
    transform: translate3d(0, 0, 0);
}

.mp-cover .mp-level.mp-level-open > ul > li > .mp-level:not(.mp-level-open) {
    transform: translate3d(-100%, 0, 0);
}

/* content style */
.mp-menu ul {
    list-style: none;
    margin    : 0;
    padding   : 0;
}

.mp-menu .mp-heading {
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    height: 4rem;
}

.mp-menu.mp-overlap .mp-heading::before {
    opacity     : 0;
    position    : absolute;
    right       : 0;
    top         : 0;
    transform   : translateX(-100%);
    transition  : opacity .3s, transform .1s .3s;
}

.mp-overlap .mp-level.mp-level-overlay > .mp-heading::before {
    opacity: 1;
    transform: translateX(0);
    transition: transform .3s, opacity .3s;
}

.mp-menu ul li > a {
    display: block;
    padding: .7em 1em .7em 1.8em;
    transition: background .3s, box-shadow .3s;
}

.mp-menu ul li::before {
    position: absolute;
    left    : 10px;
    z-index : -1;
}

.mp-menu ul li a:hover,
.mp-level > ul > li:first-child > a:hover {
    background: rgba(0, 0, 0, .2);
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
}

.mp-menu .mp-level.mp-level-overlay > ul > li > a {
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
}

.mp-level > ul > li:first-child > a:hover {
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
}

.mp-back {
    background    : rgba(0, 0, 0, .1);
    box-shadow    : inset 0 1px rgba(0, 0, 0, .1);
    display       : block;
    outline       : none;
    padding       : 1em;
    position      : relative;
    transition    : background .3s;
}

.mp-menu .mp-level.mp-level-overlay > .mp-back {
    background: transparent;
    box-shadow: none;
    color     : transparent;
}
